@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



body {
    font-family: 'Lato', sans-serif;
    background-color: black;
    color: #ffffff;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}
